<div id="Contact">
  <h1 class="text-center top" style="padding-bottom: 1%;">CONTACT US</h1>
</div>

  <div class="thumbnail">
      <img class="img-fluid" src="../../../../../assets/contact-bg.jpg" alt="phone on wooden desk">
      <div class="caption" style="padding-top: 3%">
          <h2>  LOCATION 1: </h2>
          <p>132 Broadway Chula Vista, CA 91910
          <br />Tel: 619-585-4787</p>

          <h2> LOCATION 2: </h2>
          <p>904 E 24th St, National City, CA, 91950
          <br/>Tel: 619-474-2939</p>
          <h2> MAIL: </h2>
          <p>sanchezcomputers06@gmail.com</p>
          <h1> <a href="https://www.facebook.com/sanchezcomp" target="_blank"> <i class="fab fa-facebook" style="padding-right: 5%">
          </i></a>
          <a href="https://www.yelp.com/biz/sanchez-computer-technologies-chula-vista-3" target="_blank"><i class="fab fa-yelp"></i></a></h1>
      </div>
  </div>
