.splash {
  height: 150vh;
/*  width: 100%;*/
  background-image: url('../../../../../assets/bg-mobo.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.example-card {
  max-width: 100%;
}
