.picture-size {
    height: auto;
    width: 100%;
    max-height: 1000px;
    max-width: auto;
}

.description-text {
    top: 35%;
    left: 15%;
    font-size: 4vh
}

/*Black overlay for cover images*/
.img-container { background-color: #000000; }
.img-container img { opacity: 0.2; }


.logo-size {
    padding: 3%;
    max-height: 300px;
    max-width: 300px;
}

.carousel-button {
    background-color: #3399ff;
    color: white;
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 550px) {
  p{
    font-size: 1vh;
  }
  h1 {
    font-size: 2vh;
  }
}

