<!-- split these into individual components later -->
<!-- carousel starts here -->
<div class="section" id="Home-Section">
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">

  <mdb-carousel-item class="picture-size">
    <div class="view w-100 img-container">
      <img class="d-block w-100 " src="../../../../../assets/pc-repair.jpg" alt="Hands repairing pc">
      <div mdbWavesEffect></div>
    </div>
    <div class="carousel-caption description-text">
      <h1 class="h1-responsive" style="font-weight:400; font-size: 3.5em;">COMPUTER REPAIR</h1>
      <p style="font-size: 1.4em">We have full service repairs for PC's, Macintosh's, Desktops and Laptops.<br />
         With over 14 years business we strive to fix any problem you may have.</p>
         <!-- <button href="#Services" mat-button style="background-color: orange;"> Learn More </button> -->
         <a mat-raised-button class="carousel-button" href="#Services"> <strong> Learn More </strong> </a>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item class="picture-size">
    <div class="view w-100 img-container">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
      <div mdbWavesEffect></div>
    </div>
    <div class="carousel-caption description-text">
      <h1 class="h1-responsive" style="font-weight:400; font-size: 3.5em;">{{"phone repair" | uppercase}}</h1>

      <p style="font-size: 1.4em">We can fix your problems regarding your mobile phone.<br />
        We repair iPhone and Android phone components and phone screens as well!
      </p>
         <a mat-raised-button class="carousel-button" href="#Services"> <strong> Learn More </strong> </a>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item class="picture-size">
    <div class="view w-100 img-container">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
      <div mdbWavesEffect></div>
    </div>
    <div class="carousel-caption description-text">
      <h1 class="h1-responsive">{{"call us" | uppercase}}</h1>
      <p>picture of graphic call us is here, button and maybe locations go here</p>
    </div>
  </mdb-carousel-item>

</mdb-carousel>
</div>

<!-- services section -->
<div class="section" id="Services">

<div>
  <h2 class="text-center" style="color: black;"><strong>SERVICES WE PROVIDE</strong></h2>
  <p class="text-center" style="color: grey">
    Not only do we provide installation and support for the platforms below.<br/>
    We perform repairs on <strong>Tablets, Cellphones, and Computers</strong>. Plus get<br />
    <strong>FREE diagnostic </strong> when repaired <strong> IN STORE </strong> </p>
</div>

<div class="container text-center">

  <div class="row align-items-start">
    <div class="col">
    <IMG class="col-sm logo-size" SRC="../../../../../assets/logos/apple-logo.png" ALT="apple logo">
    </div>
    <div class="col">
    <IMG class="col-sm logo-size" SRC="../../../../../assets/logos/android-logo.png" ALT="android logo">
    </div>
    <div class="col">
    <IMG class="col-sm logo-size" SRC="../../../../../assets/logos/windows-10-logo.png" ALT="windows ten logo">
    </div>
    <div class="col">
    <IMG class="col-sm logo-size" SRC="../../../../../assets/logos/windows-7-logo.png" ALT="windows seven logo">
    </div>
  </div>

<div class="row align-items-start">
  <div class="col">
    <IMG class="col-sm logo-size" SRC="../../../../../assets/logos/t-mobile.jpg" ALT="t mobile logo">
    </div>
  <div class="col">
    <IMG class="col-sm logo-size" SRC="../../../../../assets/logos/univision-logo.jpg" ALT="apple logo">
    </div>
  <div class="col">
    <IMG class="col-sm logo-size" SRC="../../../../../assets/logos/go-smart-logo.jpg" ALT="apple logo">
    </div>
  <div class="col">
    <IMG class="col-sm logo-size" SRC="../../../../../assets/logos/ultra-vision-logo.jpg" ALT="apple logo">
    </div>
  </div>

</div>
</div>

<!-- Locations Div -->

<div class="section light-gray" id="Locations">
  <h2 class="text-center" style="color: black; padding-bottom: 1%;"><i class="fas fa-location-arrow"></i><strong> LOCATIONS</strong></h2>


<div class="mapouter">
  <div class="gmap_canvas">
    <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Sanchez%20computer%20Technologies&t=&z=13&ie=UTF8&iwloc=&output=embed"
    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </div><style>.mapouter{text-align:right;height:100%;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style><span style="font-size:14px;"></span></div>


</div>