/*.spacer {
  flex: 1 1 auto;
}

.navbar-item {
  margin: 0 2%;
}

.pointer {
  cursor:pointer;
}*/

.moved {
  background-color: black;
  z-index: 1000;
  width: 100%;
  font-size: 1.6rem;
  color: white;
  z-index: 1000;
  position: fixed;
  /*border-bottom: 1px solid grey;*/

  transition: .4s ease-in-out;
}
.notmoved {
  background-color: black;
  position: fixed;
  width: 100%;
  font-size: 1.3rem;
  color: white;
  z-index: 1000;
  max-height: 50px;
  /*border-bottom: 1px solid grey;*/
  transition: .4s ease-in-out;
}

nav {
  max-height: 85px;
}

.black-text {
  color: black !important;
}
