<mat-toolbar color="primary" class ="mat-elevation-z8">   <!-- color="colorname to be added later" -->
  <mat-toolbar-row>
    <span class="pointer" routerLink="/"><i class="fas fa-laptop-code"></i> Sanchez Computer <!-- Add in change of strong or color like old web --> Technologies</span>
    <span class = "spacer"></span>
    <span class ="navbar-item"><a routerLink="/" >Home</a></span>
    <span class ="navbar-item"><a routerLink="/contact" >Contact</a></span>
  </mat-toolbar-row>
</mat-toolbar>
