<div class="section" id="Services">

<div>
  <h2 class="text-center" style="color: black;"><strong>SERVICES WE PROVIDE</strong></h2>
  <p class="text-center" style="color: grey">
    Not only do we provide installation and support for the platforms below.<br/>
    We perform repairs on <strong>Tablets, Cellphones, and Computers</strong>. Plus get<br />
    <strong>FREE diagnostic </strong> when repaired <strong> IN STORE </strong> </p>
</div>

<div class="container text-center">

  <div class="row align-items-start">
    <div class="col">
    <IMG class="col-sm logo-size" SRC="../../../../../assets/logos/apple-logo.png" ALT="apple logo">
    </div>
    <div class="col">
    <IMG class="col-sm logo-size" SRC="../../../../../assets/logos/android-logo.png" ALT="android logo">
    </div>
    <div class="col">
    <IMG class="col-sm logo-size" SRC="../../../../../assets/logos/windows-10-logo.png" ALT="windows ten logo">
    </div>
    <div class="col">
    <IMG class="col-sm logo-size" SRC="../../../../../assets/logos/windows-7-logo.png" ALT="windows seven logo">
    </div>
  </div>

<div class="row align-items-start">
  <div class="col">
    <IMG class="col-sm logo-size" SRC="../../../../../assets/logos/t-mobile.jpg" ALT="t mobile logo">
    </div>
  <div class="col">
    <IMG class="col-sm logo-size" SRC="../../../../../assets/logos/univision-logo.jpg" ALT="apple logo">
    </div>
  <div class="col">
    <IMG class="col-sm logo-size" SRC="../../../../../assets/logos/go-smart-logo.jpg" ALT="apple logo">
    </div>
  <div class="col">
    <IMG class="col-sm logo-size" SRC="../../../../../assets/logos/ultra-vision-logo.jpg" ALT="apple logo">
    </div>
  </div>

</div>